/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

/* Initial setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-light-green: #006241;
  --primary-dark-color: #32462f;
  --secondary-brown: #5f4633;
  --light-white: #fbf5e7;
}

/* !!Navbar!! */

nav {
  box-shadow: 0px 3px 3px rgb(197, 197, 197);
}

nav .nav-container {
  position: sticky;
  top: 0;

  max-width: 1300px;
  height: 6rem;
  margin: 0px auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-container img {
  height: 3.5rem;
}

.nav-container div.links ul {
  display: flex;
  gap: 1rem;
}

.nav-container div.links ul li {
  list-style: none;
}

.nav-container div.links ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-container div.links ul li a:hover {
  color: var(--primary-light-green);
}

.nav-container div.searchBar-btns .search-bar i {
  color: black;
}
.nav-container div.searchBar-btns .search-bar i:hover {
  color: var(--primary-light-green);
  cursor: pointer;
}
.nav-container div.searchBar-btns .search-bar {
  background-color: white;
  height: auto;
  width: auto;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(213, 213, 213);
  box-shadow: 0px 2px 5px 0px rgb(197, 197, 197);
  border-radius: 1rem;
  color: rgb(100, 100, 100);
}

.nav-container div.searchBar-btns a.nav-btns {
  display: inline-block;
  text-decoration: none;
  border-radius: 1rem;
  border-radius: 2rem;
  padding: 8px 16px;
  font-weight: 600;
}

.nav-container div.searchBar-btns a.primary-btn {
  border: 1px solid;
  color: black;
}
.nav-container div.searchBar-btns a.primary-btn:hover {
  background-color: #e5e5e5;
}

.nav-container div.searchBar-btns a.secondary-btn {
  color: rgb(255, 255, 255);
  background-color: black;
}
.nav-container div.searchBar-btns a.secondary-btn:hover {
  background-color: #4c4c4c;
}

/* !! Hero-features !! */

/* !! Hero !! */

section.hero-features-wrap .hero-features-wrap-container {
  max-width: 1300px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* * Auto-fill? or Auto-fit? => No, as you wouldn't have any control over the arrangement of the grid-items or over the kind-of layout you actually want! */
}

.hero-features-wrap-container .hero {
  height: 100vh;
  margin: 2rem 0px;
}

.hero-features-wrap-container .hero-image {
  background: url(images/hero-image.webp) no-repeat center / cover;
}

.hero-features-wrap-container .hero-content {
  background-color: var(--primary-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}

.hero-content h1.hero-title {
  font-size: 3rem;
}

.hero-content h3.hero-sub-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.hero-content a.hero-btn {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  border: 1px solid;
  border-radius: 3rem;
  padding: 10px 20px;
}
.hero-content a.hero-btn:hover {
  background-color: #283826;
}

/* !! Features !! */

.hero-features-wrap-container .feature1 {
  margin: 0px 0px 2rem;
  height: 400px;
}

.hero-features-wrap-container .feature1-image {
  background: url(images/feature-01-image.jpg) no-repeat right / cover;
}

.hero-features-wrap-container .feature1-content {
  background-color: var(--secondary-brown);
  color: var(--light-white);
  text-align: center;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  letter-spacing: 0.3px;
}

.feature1-content h2.feature1-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.feature1-content h3.feature1-sub-title {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8;
  width: 500px;
}

.feature1-content a.feature1-btn {
  color: var(--light-white);
  text-decoration: none;
  border: 1px solid;
  border-radius: 3rem;
  padding: 10px 20px;
}

.feature1-content a.feature1-btn:hover {
  background-color: #4c3829;
}
