/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

/* Initial setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-light-green: #006241;
  --primary-medium-green: #d1d1aa;
  --primary-dark-green: #32462f;
  --secondary-brown: #5f4633;
  --light-white: #fbf5e7;
}

/* !!Navbar!! */

nav {
  box-shadow: 0px 3px 3px rgb(197, 197, 197);
}

nav .nav-container-mobile {
  display: none;
}

nav .nav-container-laptop {
  position: sticky;
  top: 0;

  max-width: 1440px;
  height: 6rem;
  margin: 0px auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container-laptop div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-container-laptop img {
  height: 3.5rem;
}

.nav-container-laptop div.links ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-container-laptop div.links ul li {
  font-size: 1rem;
  list-style: none;
}

.nav-container-laptop div.links ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-container-laptop div.links ul li a:hover {
  color: var(--primary-light-green);
}

.nav-container-laptop div.nav-btns a.btns {
  display: inline-block;
  text-decoration: none;
  border-radius: 1rem;
  border-radius: 2rem;
  padding: 8px 16px;
  font-weight: 600;
}

.nav-container-laptop div.nav-btns a.primary-btn {
  border: 1px solid;
  color: black;
}
.nav-container-laptop div.nav-btns a.primary-btn:hover {
  background-color: #e5e5e5;
}

.nav-container-laptop div.nav-btns a.secondary-btn {
  color: rgb(255, 255, 255);
  background-color: black;
}
.nav-container-laptop div.nav-btns a.secondary-btn:hover {
  background-color: #4c4c4c;
}

/* !! Hero-features !! */

/* !! Hero !! */

section.hero-features-wrap .hero-features-wrap-container {
  max-width: 1400px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* * Auto-fill? or Auto-fit? => No, as you wouldn't have any control over the arrangement of the grid-items or over the kind-of layout you actually want! */
}

.hero-features-wrap-container .hero {
  height: 500px;
  margin: 2rem 0px;
}

.hero-features-wrap-container .hero-image {
  background: url(images/hero-image.webp) no-repeat center / cover;
}

.hero-features-wrap-container .hero-content {
  background-color: var(--primary-dark-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}

.hero-content h1.hero-title {
  font-size: 3rem;
}

.hero-content h3.hero-sub-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.hero-content a.hero-btn {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  border: 1px solid;
  border-radius: 3rem;
  padding: 10px 20px;
}
.hero-content a.hero-btn:hover {
  background-color: #283826;
}

/* !! Features !! */

.feature1,
.feature2,
.feature3,
.feature4 {
  margin: 0px 0px 2rem;
}

.hero-features-wrap-container .feature1 {
  height: 400px;
}

.hero-features-wrap-container .feature1-image {
  background: url(images/feature-01-image.jpg) no-repeat right / cover;
}

.hero-features-wrap-container .feature1-content {
  background-color: var(--secondary-brown);
  color: var(--light-white);
  text-align: center;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  letter-spacing: 0.3px;
}

.feature1-content h2.feature1-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.feature1-content h3.feature1-sub-title {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8;
  width: 500px;
}

.feature1-content a.feature1-btn {
  color: var(--light-white);
  text-decoration: none;
  border: 1px solid;
  border-radius: 3rem;
  padding: 10px 20px;
}

.feature1-content a.feature1-btn:hover {
  background-color: #4c3829;
}

.hero-features-wrap-container .feature2 {
  height: 500px;
}

.hero-features-wrap-container .feature2-image {
  background: url(images/feature-02-image.webp) no-repeat center / cover;
}

.hero-features-wrap-container .feature2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background-color: var(--primary-dark-green);
  color: white;
  letter-spacing: 1px;
}

.feature2-content h2.feature2-title {
  font-size: 3rem;
  line-height: 1.2;
}

.feature2-content h3.feature2-sub-title {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8;
  text-wrap: balance;
  width: 500px;
}

.feature2-content a.feature2-btn {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  border: 1px solid;
  border-radius: 3rem;
  padding: 10px 20px;
}

.feature2-content a.feature2-btn:hover {
  background-color: #283826;
}

.hero-features-wrap-container .feature3 {
  height: 250px;
}

.hero-features-wrap-container .feature3-image {
  background: url(images/feature-03-image.jpg) no-repeat right / cover;
}

.hero-features-wrap-container .feature3-content {
  background-color: var(--primary-medium-green);
}

.hero-features-wrap-container .feature3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  gap: 1.5rem;
  background-color: var(--primary-medium-green);
  color: var(--primary-dark-green);
  letter-spacing: 1px;
}

.feature3-content h2.feature3-title {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: bold;
}

.feature3-content h3.feature3-sub-title {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  width: 450px;
}

.feature3-content a.feature3-btn {
  text-decoration: none;
  color: var(--primary-dark-green);
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  border: 1px solid;
  border-radius: 3rem;
  padding: 10px 20px;
}

.feature3-content a.feature3-btn:hover {
  background-color: #bfc29e;
}

.hero-features-wrap-container .feature4 {
  height: 500px;
}

.hero-features-wrap-container .feature4-image {
  background: url(images/feature-04-image.jpg) no-repeat center / cover;
}

.hero-features-wrap-container .feature4-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background-color: var(--primary-light-green);
  color: white;
  letter-spacing: 1px;
}

.feature4-content h2.feature4-title {
  font-size: 3rem;
  line-height: 1.2;
  width: 500px;
}

.feature4-content h3.feature4-sub-title {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8;
  text-wrap: balance;
  width: 500px;
}

.feature4-content a.feature4-btn {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  border: 1px solid;
  border-radius: 3rem;
  padding: 10px 20px;
}

.feature4-content a.feature4-btn:hover {
  background-color: #004e35;
}

/* !! Footer !! */

footer section.scarcity-bonus .container {
  max-width: 700px;
  height: auto;
  padding: 0px 40px;
  margin: 0px auto 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  text-align: center;
  text-wrap: balance;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.ruler {
  box-shadow: 1px -1px 3px darkgrey;
  border: 0.1px solid white;
  max-width: 1300px;
  margin: 0px auto 2rem;
}

footer section.primary-links .container {
  max-width: 1400px;
  height: auto;
  margin: 0px auto 2rem;
  padding: 0px 20px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

footer section.primary-links .container div.category h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
}
footer section.primary-links .container div.category ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
footer section.primary-links .container div.category ul li a {
  text-decoration: none;
  color: gray;
  line-height: 1.3;
}
footer section.primary-links .container div.category ul li a:hover {
  color: black;
}

.divider {
  margin: 0 auto;
  max-width: 1400px;
  margin: 0 20px;
  border: 1px solid rgb(210, 210, 210);
}

footer section.secondary-links .container {
  max-width: 1400px;
  height: auto;
  margin: 0px auto 2rem;
  padding: 0px 20px;
}

footer section.secondary-links .container ul.social-media {
  list-style: none;
  height: auto;
  display: flex;
  gap: 5px;
  margin: 1rem 0px;
}
footer section.secondary-links .container ul.social-media li a {
  background-color: black;
  text-decoration: none;
  height: 2.5rem;
  width: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 5px solid white;
  border-radius: 2rem;
}
footer section.secondary-links .container ul.social-media li a:hover {
  border: 5px solid #e9e9e9;
  transition: linear 0.25s;
}
footer section.secondary-links .container ul.social-media li a i {
  font-size: 1rem;
  color: white;
}
/* * Try not to use the frame of the icon (in which it is kept) to achieve a specific design req., rather try using icon's parent */
footer section.secondary-links .container ul.miscelleneous {
  list-style: none;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
footer section.secondary-links .container ul.miscelleneous li {
  margin-bottom: 1rem;
}
footer section.secondary-links .container ul.miscelleneous li a {
  color: gray;
  text-decoration: none;
}
footer section.secondary-links .container ul.miscelleneous li a:hover {
  text-decoration: underline;
  color: black;
}

footer section.secondary-links .container p {
  font-size: 0.8rem;
  color: gray;
  letter-spacing: 0.5px;
  margin-top: 2rem;
}

/* !! Responsive -> Tablets (600px-800px) !! */

@media (max-width: 1000px) {
  /* !! Navbar !! */

  nav .nav-container-laptop {
    display: none;
  }

  nav .nav-container-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding: 15px 20px;
  }

  nav .nav-container-mobile i {
    font-size: 1.5rem;
  }
  nav .nav-container-mobile img.logo {
    height: 3.5rem;
  }
  nav .nav-container-mobile a.sign-in-btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5rem;
    font-size: 0.8rem;
    font-weight: 600;
  }

  /* !! Footer !! */

  footer section.primary-links .container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  footer section.primary-links .container div.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer section.primary-links .container div.category h3.category-heading {
    font-weight: 600;
  }
  footer section.primary-links .container div.category ul.category-links {
    gap: 0.8rem;
  }
  footer section.primary-links .container div.category ul.category-links li a {
    color: rgb(56, 56, 56);
  }

  footer section.secondary-links .container ul.social-media {
    justify-content: center;
    align-items: center;
  }
  footer section.secondary-links .container ul.miscelleneous {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer section.secondary-links .container ul.miscelleneous li a {
    color: rgb(56, 56, 56);
  }
  footer section.secondary-links .container p.copyright {
    text-align: center;
    line-height: 1.5;
  }
}

/* !! Responsive -> Mobiles !! */

@media (max-width: 500px) {
  /* !! Navbar !! */

  nav .nav-container-mobile {
    padding: 7px 15px;
  }
  nav .nav-container-mobile img.logo {
    height: 2.8rem;
  }
  nav .nav-container-mobile i {
    font-size: 1.3rem;
  }
  nav .nav-container-mobile a.sign-in-btn {
    font-size: 0.7rem;
  }
}
